.clear {
  clear: both;
  /* height: 0; */
  /* line-height: 0; */
  /* width: 100%; */
}

#localizer {
  background: url('../images/main_bg.jpg') no-repeat;
  height: 770px;
  margin: 0 auto;
  position: relative;
  width: 510px;
}

.fb-button {
  background: url("../images/fb_button.png") repeat scroll 0 0 transparent;
  border-color: #29447E #29447E #1A356E;
  border-style: solid;
  border-width: 1px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 23px;
  line-height: 22px;
  padding: 2px 6px 2px 6px;
  position: absolute;
  text-decoration: none;
}

#pickyourphoto {
  background: url("../images/pickphoto.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 42px;
  left: 134px;
  position: absolute;
  top: 518px;
  width: 218px;
  z-index: 100;
}

#pickyourphoto:hover {
    background-position: 0 -42px;
}

.icon {
  cursor: pointer;
  display: block;
  float: left;
  height: 43px;
  margin-right: 10px;
  width: 53px;
}

.icon:hover {
    background-position: 0 -43px !important;
}

#jp {
  background: url('../images/japan.png');
}

#ko {
  background: url('../images/korea.png');
}

#cn {
  background: url('../images/china.png');
}

#fr {
  background: url('../images/france.png');
}

#en {
  background: url('../images/uk.png');
}

.box {
    left: 12px;
    padding: 0 10px;
    width: 455px;
}

.box .inside {
    background: url('../images/overlay.png') repeat-y;
    margin-bottom: 20px;
    margin-top: 20px;
}

.box .top {
    background: url('../images/overlay_top.png') no-repeat;
    height: 27px;
    margin-bottom: -20px;
    position: relative;
}

.box .bottom {
    background: url('../images/overlay_bottom.png') no-repeat;
    height: 33px;
    margin-top: -20px;
    position: relative;
}

#outline {
    border: 2px dashed #FF5555;
    display: block;
    height: 301px;
    left: 100px;
    position: absolute;
    top: 118px;
    width: 301px;    
}

#photo {
    background-repeat: no-repeat;
  display: block;
  height: 375px;
  left: 102px;
  overflow: hidden;
  position: absolute;
  top: 120px;
  width: 301px;
}

#photo .caption {
  display:none;
}

#photo img {
  cursor: pointer;
}

#photo img:active {
  cursor: move;
}

#photo .ajax-loader {
    cursor: auto;
  display: none;
  left: 132px;
  position: absolute;
  top: 132px;
}

#fields {
    height: 180px;
    left: 79px;
    position: absolute;
    top: 542px;
    width: 316px;
}

#flags {
  display: block;
  left: 20px;
  position: absolute;
  top: 57px;
  width: 320px;  
}

/*
_                  _      _                 
___ ___ | | ___  _ __ _ __ (_) ___| | _____ _ __ ___ 
/ __/ _ \| |/ _ \| '__| '_ \| |/ __| |/ / _ \ '__/ __|
| (_| (_) | | (_) | |  | |_) | | (__|   <  __/ |  \__ \
\___\___/|_|\___/|_|  | .__/|_|\___|_|\_\___|_|  |___/
|_|                             
 */

#colors {
    left: 170px;
    position: absolute;
    top: 110px;
}

#colorbtn1, #colorbtn2 {
  background: url("../images/select2.png") repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 36px;
  position: absolute;
  left: 0px;
  width: 36px;
}

#colorbtn2 {
  left: 46px;
}

#colorbtn1 div, #colorbtn2 div {
  background: url("../images/select2.png") repeat scroll center center transparent;
  height: 29px;  
  left: 3px;
  position: absolute;
  top: 3px;
  width: 28px;
}

#colorbtn1 div {
    background-color: #ffffff;
}

#colorbtn2 div {
    background-color: #000000;
}

.color {
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}

#colorpicker1 {
    left: 180px;
    top: 125px;
}

#colorpicker2 {
    left: 230px;
    top: 125px;
}

/*

_ __ ___   ___  ___ ___  __ _  __ _  ___  ___ 
| '_ ` _ \ / _ \/ __/ __|/ _` |/ _` |/ _ \/ __|
| | | | | |  __/\__ \__ \ (_| | (_| |  __/\__ \
|_| |_| |_|\___||___/___/\__,_|\__, |\___||___/
|___/           
 */

#messages {
    display: none;
    height: 590px;
    position: absolute;
    top: 77px;
    width: 479px;
    z-index: 100;
}

#messages img {
  float: left;
  margin-top: 2px;
}

#messages ul {
    margin-bottom: 0px;
    margin-top: 0px;
}

#messages li {
  list-style: none
}

#messages .message {
  border: 1px dashed #BBBBBB;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin-left: 60px;
  padding: 0 13px;
  width: 320px;
}

#messages .message:hover {
  border-color: red;
}

#share {
  background: url('../images/shareit.png') no-repeat;
  cursor: pointer;
  height: 66px;
  left: 122px;
  position: absolute;
  top: 700px;
  width: 255px;
}

#share:hover {
  background-position: 0 -66px;
}

