/*
     _             _ _       
 ___| |_ _   _  __| (_) ___  
/ __| __| | | |/ _` | |/ _ \ 
\__ \ |_| |_| | (_| | | (_) |
|___/\__|\__,_|\__,_|_|\___/ 
                             
 */

#studio {
    display: none;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    position: absolute;
    text-align: center;
    top: 245px;
    z-index: 100;
}

#studio .cropbutton {
    background: url("../images/cropme.png") no-repeat scroll 0 0 transparent;
    display:none;
    height: 36px;
    margin: 15px auto;
    position: relative;
    width: 167px;  
}

#studio .cropbutton:hover {
  background-position: 0 -36px;
}

#studio .inside {
    min-height: 310px;
}

#studio .cropme {
  display: none;
}

#studio .ajax-loader {
  display: none;
  left: 220px;
  position: absolute;
  top: 162px;
}

#studio .jcrop-holder {
  background-color: black;
  border: 2px solid #777;
  margin: 0 auto;
}

#workspace {
  display: none;
  position: relative;
  width: 100%;
}

#choice {
    height: 290px;
    overflow-y: hidden;
    padding: 10px 30px;
    position: relative;
    text-align: center;
    z-index: 900;
}

#choice .fb-button {
    left: 127px;
    position: absolute; 
    top: 75px;
}

#choice > hr {
    margin-bottom: 28px;
    margin-top: 126px;
    position: relative;
}

#choice .instruction {
    font-size: 18px;

}

#imgform {
  display: block;
  position: relative;
}

#imgform label {
  display: block;
}

#imgform input {
}

#fbstuff {
    display: none;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    width: 90%;
}

#fbstuff .fbitem {
    color: #333;
    cursor: pointer;
    /* TODO display for ie7 */
    display: inline-block;
    float: left;
    height: 170px;
    list-style: none;
    margin-right: 12px;
    position: relative;
    vertical-align: middle;
    width: 130px;
}

#fbstuff li.last {
  margin-right: 0;
}

#fbstuff .fbphoto {
    height: 140px;
}

#fbstuff .fbitem img {
    border: 1px solid #BBB;
}

#fbstuff .fbitem:hover img {
    border-color: #666;
}

